div {
  animation: charles 1s infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate-reverse;
  -o-animation-iteration-count: 2;
}

div:hover{
  animation-play-state:paused;
}

@keyframes mymove {
  from {left: 0px;} /* 0% */
  to {left: 200px;} /* 100% */
}


@keyframes charles {
  0% {
    left: 0%;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 0%;
    top: 200px;
  }
  100% {
    top: 0px;
    left: 0%;
  }
}

#bounce-title {
  position: relative;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    bottom: 100px;
    transform: scaleY(2);
  }
  100% {
    bottom: 0%;
    transform: scaleY(0.5);
  }
}
